.navbar {
    display: flex; /* Устанавливает контейнер .navbar как flex-контейнер, 
    позволяя его дочерним элементам располагаться в одной линии */
    flex-direction: row; /* Располагает дочерние элементы .navbar в строку (по горизонтали) */
    justify-content: space-between; /* Распределяет дочерние элементы .navbar равномерно, 
    с максимальным пространством между ними */
    background-color: #faf7f7; /* Устанавливает фоновый цвет для .navbar */
}

.navbar ul {
    display: flex; /* Устанавливает контейнер ul как flex-контейнер для его дочерних элементов (li) */
    flex-direction: row; /* Располагает элементы списка (li) в строку (по горизонтали) */
    list-style: none; /* Убирает маркеры списка */
    margin: 0; /* Убирает внешний отступ у списка */
}

.navbar ul li {
    display: flex; /* Устанавливает каждый элемент списка (li) как flex-контейнер для его содержимого */
    margin-right: 10px; /* Добавляет отступ справа у каждого элемента списка */
}

.navbar ul li:hover {
    background-color: #7cc6e5; /* Изменяет фоновый цвет элемента списка при наведении курсора */
    border-radius: 20%; /* Скругляет углы элемента списка при наведении курсора */
}

.navbar ul li a {
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    color: black; /* Устанавливает цвет текста ссылок черным */
    margin: auto; /* Центрирует текст внутри элемента списка */
}

.navbar div {
    display: flex; /* Устанавливает div как flex-контейнер */
    margin-right: 20px; /* Добавляет отступ справа у div */
}

.navbar div a {
    text-decoration: none; /* Убирает подчеркивание у ссылок в div */
    color: black; /* Устанавливает цвет текста ссылок черным */
    margin: auto; /* Центрирует текст внутри div */
}

.navbar div:hover {
    background-color: #7cc6e5; /* Изменяет фоновый цвет div при наведении курсора */
    border-radius: 20%; /* Скругляет углы div при наведении курсора */
}